/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

img {
  display: block;
  margin: 0 auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  color: #650300;
  text-align: center;
}

@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 375px) {
  h2 {
    font-size: 24px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px;
  background: #AA0601;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item {
  margin-left: 64px;
}

@media (max-width: 768px) {
  header {
    padding: 30px;
  }
  .menu-item {
    margin-left: 40px;
  }
}

@media (max-width: 375px) {
  header {
    display: block;
    padding: 10px 0 0 0;
  }
  header img {
    margin-bottom: 10px;
  }
  .menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-item {
    width: 50%;
    margin: 0;
    border: 1px solid #FFFFFF;
  }
  .menu-item a {
    padding: 8px 0;
  }
}

.banner {
  height: calc( 100vh - 108px);
  background: url(../image/banner.png) center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #650300;
  text-align: right;
}

.quote {
  margin-right: 396px;
}

.quote-sub {
  font-size: 36px;
}

.quote-main {
  font-size: 64px;
  padding-right: 9px;
}

@media (max-width: 768px) {
  .quote {
    margin-right: 39px;
  }
  -sub {
    font-size: 20px;
  }
  -main {
    font-size: 48px;
    padding-right: 0;
  }
}

@media (max-width: 375px) {
  .banner {
    background: url(../image/banner-sm.png);
  }
  .quote {
    margin-right: 15px;
  }
  .quote-sub {
    font-size: 16px;
  }
  .quote-main {
    font-size: 32px;
  }
}

.about {
  padding: 64px 0 80px 0;
  background: #FBF2F2;
}

.about .container {
  max-width: 1100px;
  margin: 0 auto;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  font-weight: bold;
}

.about .card {
  max-width: 208px;
}

.about .card-img {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 40px auto;
}

.about .card-img img {
  width: 100%;
}

.about .card-title {
  margin-bottom: 4px;
  font-size: 24px;
  color: #650300;
  text-align: center;
}

.about .card-info {
  font-size: 16px;
}

@media (max-width: 768px) {
  .about {
    padding: 40px 0 80px 0;
  }
  .about .container {
    max-width: 600px;
  }
  .about-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 32px;
  }
  .about .card {
    max-width: 237px;
    margin-bottom: 40px;
  }
  .about .card-img {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
  .about .card-title {
    font-size: 20px;
  }
  .about .card-info {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .about {
    padding: 32px 0 52px 0;
  }
  .about .container {
    max-width: 237px;
  }
  .about-list {
    display: block;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */