@import ../utilities/_variables

body
    font-family: $noto
    line-height: 1.5
       
.title
    font-size: 48px
    color: #650300
    font-weight: bold
    text-align: center

.title-light
    color: #FFFFFF

@media ( max-width: 768px )
    .title
        font-size: 32px

@media ( max-width: 768px )
    .title
        font-size: 24px