@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700;900&family=Roboto:wght@500;700;900&display=swap')

*, *::before, *::after
    box-sizing: border-box

a
  text-decoration: none
  color: inherit
  display: block
  height: 100%

img
  display: block

body
    font-family: 'Noto Sans TC', 'Roboto', sans-serif
    font-size: 16px
    line-height: 1.5

.title
    color: $color-secondary
    font-weight: bold
    text-align: center

    font-size: 48px
    margin-bottom: 60px
    @include rwd(768)
        font-size: 32px
        margin-bottom: 32px
    @include rwd(375)
        font-size: 24px
        margin-bottom: 32px