
$color-primary: #AA0601
$color-secondary: #FBF2F2
$color-white: #fff

$device-breakpoint: (pc:1920px, tablet: 768px, phone: 375px)

$justify-content: (jcc: center, jcsb: space-between, jcfe: flex-end)
$align-items: (aic: center)
$flex-wrap: (w: wrap, wrev: wrap-reverse)
$flex-direction: ( r: row, col: column, rr: row-reverse)