$color-primary: #AA0601
$color-secondary: #650300
$color-tertiary: #AA06010D
$color-white: #fff


$font-size-unit: 4px
$max-font-size-level: 25
$min-font-size-level: 1
$font-weight-map: ( normal: 500, medium: 700, bold: 900 )


$device-list: (1920, 768, 375)
$display-map: (flex: flex, block: block)
$justify-map: (jcfs: flex-start, jcfe: flex-end, jcc: center, jcsb: space-between )
$align-map: (ais: start, aic: center)
$wrap-map: (wrap: wrap, no-wrap: no-wrap)
$direction-map: (row: row, col: column, row-reverse: row-reverse)

$spacer: 4px
$max-spacer-level: 25
$min-spacer-level: 1
$space-direction-map: ( t: top, r: right, b: bottom, l: left, x: x, y: y)